<% content_for :page_title do %>
  <h1 class="page-title">Resume</h1>
<% end %>

<% @jobs.each do |job| %>
  <div id="job-description-<%= job.id %>">
    <p><strong><%= job.company %></strong> | <%= job.location %>, <%= job.formatted_start_date %> - <%= job.formatted_end_date %></p>
    <p><%= job.title %></p>
    <p><em><%= job.description %></em></p>
    <ul>
      <% job.responsibilities.each do |resp| %>
        <li><%= resp %></li>
      <% end %>
    </ul>
  </div>
<% end %>