<!DOCTYPE html>
<html>
  <head>
    <title>Mel Langhoff | Developer, Project Manager, Linguist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>  

    <!-- Favicon -->
    <%= favicon_link_tag 'favicon1.png' %>
  </head>

  <body class="page-background">
    <%= render 'layouts/header' %>

    <div class="main-container mt-4">
      <h1 class="page-title"><%= yield :page_title %></h1>
      <div class="content-box">
        <%= yield %> <!-- This will include the main content from the view -->
      </div>
    </div>
  </body>
</html>
